<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Internal Server Error !</h1>
    <p>sorry for the inconvienience we will fix that soon</p>
   
<%- include('includes/end.ejs') %>